body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  color: rgba(0,0,0,0.65);
  font-family: 'Ubuntu';
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 35s ease infinite;
  -moz-animation: Gradient 35s ease infinite;
  animation: Gradient 35s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/**************************Main page**************************/

#header {
  height: 20vh;
}

#main {
  height: 60vh;
  text-align: center;
  padding-top: 5vh;
}

#footer {
  height: 20vh;
  text-align: center;
  padding-top: 16vh;
}

#logo {
  width: 6vh;
  height: 6vh;
  opacity: 0.7;
  outline: none;
  margin-top: 0.5vh;
  margin-left: 0.5vh;
}

#logo:hover {
  opacity: 0.85;
}

#log-in {
  float: right;
  opacity: 0.7;
  border: none;
  background: none;
  font-size: 4vh;
  margin-top: 0.2vh;
  margin-right: 0.2vh;
  outline: none;
  cursor: pointer;
}

#log-in:hover {
  opacity: 0.85;
}

#title {
  font-weight: 700;
  font-size: 12vh;
}

#search-bar {
  position: relative;
  color: white;
  background-color: rgba(0,0,0,0.6);
  width: 35vw;
  height: 6vh;
  border: none;
  border-radius: 5vw;
  padding: 1.5vh;
  padding-right: 3vh;
  padding-left: 3vh;
  margin-top: 2vh;
  text-align: center;
  font-size: 2.5vh;
  overflow-wrap: normal;
  transition: ease-in-out, width .35s ease-in-out;
  outline: none;
}

#search-bar:hover {
  background-color: rgba(0,0,0,0.7);
}

#search-bar::placeholder {
  opacity: 1;
}

#search-bar:focus::placeholder {
  opacity: 0;
}

#search-bar:focus {
  background-color:rgba(0,0,0,0.7); 
  box-shadow: 0 0 1vh 0 rgba(0,0,0,0.7);
  width: 50vw;
}

#search-button {
  position: absolute;
  margin-top: 2.5vh;
  margin-left: 1vw;
  background: rgba(0,0,0,0.6);
  border: none;
  border-radius: 3vh;
  color: white;
  cursor: pointer;
  font-size: 3.5vh;
  outline: none;
}

#search-button:hover {
  background-color: rgba(0,0,0,0.7);
}

#mode {
  font-size: 1.8vh;
}

strong{
  font-weight: 400;
  color: black;
}

h2 {
  font-weight: 500;
  font-size: 4em;
  top: 50%;
}

.autocomplete {
  /*the container must be positioned relative:*/
  border: none;
  padding: 1.5vh;
  padding-right: 3vh;
  padding-left: 3vh;
  width: 40vh;
  text-align: center;
  font-family: Ubuntu;
  font-size: 1.5rem;
  overflow-wrap: normal;
}

.autocomplete-items {
  position: absolute;
  border: none;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #ffe !important;
  color: #black;
}

/**************************Results Page**************************/
