body {
  width: 100wh;
  height: 90vh;
  color: #fff;
  font-color: rgba(1,1,1,0.4);
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

h1 {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 1em;
  color: rgba(0,0,0,0.6);
  top: 28%;
  right: 0;
  left: 0;
}

.NumResults{
  margin-left: 10px;
}

h6 {
  font-weight: 400;
  font-size: 1em;
  top: 95%;
  color: rgba(0,0,0,0.6);
  text-align: center;
  position: absolute;
  margin-left: 75%;

}

h4 {
  float: left;
  font-weight: 400;
  font-size: 1em;
  color: white;
  text-align: center;
  position: relative;
  margin-left: 30px;
}

/*Search bar*/
input[type=search] {
  color: white;
  background-color: black;
  padding: 8px;
  padding-right: 20px;
  padding-left: 20px;
  width: 45%;
  height: 40px;
  border-radius: 50px;
  border: 2px solid rgb(60,60,60);
  outline: none;
  display: block;
  text-align: center;
  font-family: Ubuntu;
  font-size: 15px;
  position: relative;
  left: 2%;
  margin-top: -26px;
  transform: translate(0%, -40%);
  overflow-wrap: normal;
  opacity: 0.6;
  transition: ease-in-out, width .35s ease-in-out;
}

input[type=search]:focus {
  border: 3px solid rgba(0,0,0,0.9);
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.9);
  width: 50%;
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

button {

 }

button:hover {
  cursor: pointer;
}

#logo {
  position:relative;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  display:block;
}

#sign_in {
  float: right;
  font-family: 'Ubuntu'
  position:absolute;
  background: rgba(0,0,0,0.6);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  padding: 5px 5px;
  margin-top: 5px;
  margin-right: 5px;
}

nav{
  position: fixed;
  bottom: 0;
}


.blurred-box{
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.5rem;
  margin-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  background:inherit;
  overflow: hidden;
}

.blurred-box:after{
  content: '';
  width: 100%;
  height: 100%;
  background:inherit;
  position: absolute;
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(10px);
  pointer-events: none
}

@keyframes slidein {
  from{
    margin-left: 100%;
    width: 300%;
  }
  to{
    margin-left:0%;
    width: 100%;
  }
}

.result-title{
  font-weight: 400;
  font-size: 1em;
  color: white;
  text-align: left;
  position: relative;
  margin-left: 30px;
}

.result-link{
  font-weight: 400;
  font-size: 1em;
  color: white;
  text-align: left;
  position: relative;
  margin-left: 30px;
}

.result-desc{
  font-weight: 400;
  font-size: 1em;
  color: white;
  text-align: left;
  position: relative;
  margin-left: 30px;
  color: rgba(0,0,0,0.6);
}

.pagination >li > a{
  background-color: white;
  color: purple;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover{
  color: purple;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > a:hover{
  color: white;
  background-color: purple !Important;
  border: solid 1px purple !Important;
}

#loop{
  margin-
}
